*{
    font-family: arial, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}


a {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.733);
    margin-top: 0px;
    margin-left: 15px;
   
}

a:hover {
    text-decoration: underline;
}
.apps {
    width: 30px;
    margin-top: 0px;
    margin-right: 20px;
    margin-left: 25px;
    opacity: 60%;
    cursor: pointer;
    
}

nav {
    float: right;
    margin-right: 20px;
    margin-top: 0px;
    height: 325px;
    
   
}

.yuvarlak {
    border-radius: 50%;
    width: 40px;
    margin-top: 20px;
    cursor: pointer;
    padding: 0px;
}

a :link {
    line-height: 10px;
}

.google {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto; 
    width: 350px;
    margin-bottom: 25px;
}

.clear {
    clear: both;
}



.search-box:hover {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.151);
}

.search-box {
    width: 725px;
    height: 60px;
    background-color: white;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    display: flex;
    border: 1px solid #dfe1e5;
    
    
}

.search-icon {
    width: 20px;
    margin: 20px 20px;
    opacity: 70%;
}


.input {
    background: #fff;
    box-shadow: none !important;
    border: none;
    outline: none;
    height: 58px;
    padding-left: 10px;
    width: 522px; 
    size: 100px;
}

.harf {
    width: 35px;
    height: 25px;
    margin: 18px 15px 10px 35px;
    cursor: pointer;
}

.görsel {
    width: 45px;
    height: 30px;
    margin: 15px 0px;
    cursor: pointer;
}

 button {
    text-align: center;
    background-color: #f8f9fa;
    color: #3c4043;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    padding: 20px 16p;
    line-height: 27px;
    height: 36px;
    min-width: 130px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    
    margin: auto;
    float: left;
 }

 .buttons {
    margin-top: 20px;
    border-radius: 8px;
    margin-left: 43.5%;
  }
  .googlesearch {
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial,sans-serif;
    font-size: 16px;
    margin: 11px 7px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    background-color: #f2f2f2;
    font-weight: bold;
  }
  .googlesearch:hover {
    box-shadow:  0 0 3px 0 rgba(0, 0, 0, 0.315)
  }
  .feelinglucky {
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    font-weight: bold;
    color: #5F6368;
    font-family: arial,sans-serif;
    font-size: 16px;
    margin: 11px 7px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    background-color: #f2f2f2;
  }
  .feelinglucky:hover {
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.24), 0 2px 5px 0 rgba(0,0,0,0.19);
  }

  .footer {
    height: 120px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2;
    color: white;
    
  }

  .trk{
    padding: 15px 30px;
    font-size: 18px;
    color: #70757a;
    border-bottom: 1px solid #dadce0;
    height: 60px;
    line-height: 30px;
    margin-left: 10px;
}

   .left-li {
    display: block;
    float: left;
    margin-top: 20px;
    margin-right: -20;
    margin-left: 24px;
    font-size: 18px;
   }

   .center {
    float: left;
    display: block;
    text-align: center;
    margin-left: 920px;
    margin-top: 15px;
    font-size: 18px;
   }

   .leaf {
    width: 15px;
   }

   .right-li {
    display: block;
    float: right;
    margin-top: 20px;
    margin-right: 24px;
    margin-left: -35px;
    padding: 0px 16px;
    font-size: 18px;
   }
    
    
    

 